version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: next_prod
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "3000:3000"
    restart: always
